SUPABASE_PROJECT_REF=hjszjebirxhdtrbhefbv
SUPABASE_DB_URL=jdbc:postgresql://aws-0-eu-west-1.pooler.supabase.com:5432/postgres?sslmode=require
SUPABASE_DB_USER=postgres.hjszjebirxhdtrbhefbv
SUPABASE_DB_PASSWORD=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_JWT_SECRET=
SPRING_FLYWAY_ENABLED=true

OPENDOTA_API_BASE_URL=https://api.opendota.com/api

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_API_URL=http://localhost:8080/api
